version: 2.1

anchors:
  workspace_root: &workspace_root ~/repo

  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

orbs:
  getty-devops: thegetty/devops-orb@3

jobs:
  build:
    docker:
      - image: cimg/node:18.12.1
    working_directory: ~/repo
    environment:
      CI: true
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"
    steps:
      - setup
      - lint
      - run_tests
  deploy:
    docker:
      - image: cimg/node:18.12.1
    working_directory: ~/repo
    environment:
      CI: true
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"
    steps:
      - *attach_workspace
      - build_output
      - getty-devops/sync-with-s3:
          local-path: "jsdoc"

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          filters:
            branches:
              only: main
          requires:
            - build

commands:
  setup:
    steps:
      - checkout
      - run: npm install
  lint:
    steps:
      - run: npm run lint
  run_tests:
    steps:
      - run:
          name: Run unit tests
          command: npm run test:unit
      - persist_to_workspace:
          root: *workspace_root # absolute path or relative to working_directory
          paths: . # paths relative to the workspace root
  build_output:
    steps:
      - run: npm run build:jsdoc
      - persist_to_workspace:
          root: *workspace_root # absolute path or relative to working_directory
          paths: . # paths relative to the workspace root
